.firstclick,
.secondclick {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.firstclick {
    background-color: rgb(0, 0, 0);
    color: rgb(240, 231, 231);
}

.secondclick {
    background-color: rgb(216, 216, 16);
}